.kiri{

    background: black;
}
.kanan{
    background: #ECECEC;
}
.kiri img{
    width: 60px;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 4%;
}

.about{
    margin-left: 3%;
}
.navigasi{
    margin-top: 2%;
    margin-left: 3%;
    
}

.navigasi a{
    color: black;
    
}
.snip1{
    color: white;
    margin-top: 127%;
    margin-left: 5%;
    font-family: 'Segoe UI';
    font-weight: 100;
}
.addie img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    float: right;
    margin-right: 77%;
    margin-top: 10%;
}
.snip1 span{
    margin-left: 2%;
}
.content1 {
    float: right;
    margin-top: -40%;
    margin-right: 25%;
    
}
.baris1{
    font-family: 'Segoe UI';
}
.baris2{
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    margin-top: -5%;
}
.baris3{
    font-family: 'Segoe UI';
}
.baris4{
    margin-top : -5%;
    font-family: 'Segoe UI';
}
.baris5{
    margin-top : -5%;
    font-family: 'Segoe UI';
}
.baris6{
    margin-top : -5%;
    font-family: 'Segoe UI';
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding:8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 35px;
    width: 25%;
    
  }
  .gbr1{
      width: 100px;
      border-radius: 50%;
      border: 3px solid;
  }
  .gbr2{
        width: 100px;
        border-radius: 50%;
        border: 3px solid;
    }
    .gbr3{
        width: 100px;
        border-radius: 50%;
        border: 3px solid;
    }   
    .gambar{
        float: left;
        margin-left: 35%;
        margin-top: -8%;
    }
    .gbr2{
        margin-left : 20%;
    }
    .gbr3{
        float: left;
        margin-left: 108%;
        margin-top: -32.5%;
    }
    .pre{
        float: right;
        font-weight: bold;
        font-family: 'Segoe UI';
        display: inline;
        margin-top: -11%;
        margin-right: 57%;
        
    }
    .mat{
        display: inline;
        float: right;
        font-weight: bold;
        font-family: 'Segoe UI';
        margin-top: -11%;
        margin-right: 41%;
    }
    .pos{
        display: inline;
        float: right;
        font-weight: bold;
        font-family: 'Segoe UI';
        margin-top: -11%;
        margin-right: 24%;
    }
    .pretest{
        border: 2px solid #2b8084;
    }
    .judul{
        text-align: center;
        font-family: 'verdana';
    }
    .soal{
        font-weight: bold;
    }
    .ole{
        width: 90%;
        margin-bottom: 1%;
        margin-left: 5%;
    }
    
    
       
    


